.editButton {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.editField {
  display: flex;
  justify-content: center;
  gap: 0.5em;

  input {
    border-radius: 5px;
    outline-color: #00bc77;
    color: gray;
    padding: 0.6em 0.6em;
    border: 1px solid grey;
  }

  label {
    display: none;
  }
}

.updateButton {
  display: flex;
  justify-content: center;
  gap: 0.5em;

  button {
    border: 1px solid #00bc77;
    padding: 0.6em 3em;
    color: #00bc77;
    border-radius: 5px;
    font-weight: bold;
  }
}