.signInContent {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 3rem auto 0;
  padding: 2rem;

  .signInButton {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    background-color: #00bc77;
    color: #fff;
    border: none;
    cursor: pointer;

    span {
      text-decoration: underline;
    }
  }

  .signInTitle {
    font-size: 1.5em;
    font-weight: bold;
    padding: 1em 0;
  }
}
